@import './reset.css';

body {
  font-family: Nunito;
}

.header {}

.container {
  margin: 0 auto;
  width: 80vw;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}

.nav::before {
  content: '';
  width: 100%;
  height: 1px;
  background: rgba(238, 238, 238, 1);
  position: absolute;
  bottom: 0;
}

.nav_links {
  display: flex;
  gap: 36px;
  align-items: center;
}

.nav_links_link {
  color: rgba(112, 112, 112, 1);
}

.nav_links_link:hover {
  color: rgba(240, 127, 174, 1);
  text-decoration: underline;
}

.nav_icons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.nav_icons svg {
  height: 15px;
  width: 15px;
}

.nav_icons a:hover svg path {
  fill: rgba(240, 127, 174, 1);
}

.nav_phoneWidth_opened {
  display: none;
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;

  z-index: 3;

}

.nav_phoneWidth_opened_bg {
  padding: 10px 30px;
  background: white;
  width: 80vw;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  position: absolute;
}

.nav_phoneWidth_opened.active {
  display: initial;
}

@media screen and (min-width: 769px) and (max-width: 1250px) {
  .nav_links {
    flex-wrap: wrap;
    column-gap: 36px;
    row-gap: 15px;
  }

  .nav_icons {
    width: 80px;
    justify-content: space-between;
    gap: 0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 95vw;
  }

  .nav_links {
    gap: 12px;
  }

  .nav_links_link {
    font-size: 14px;
    font-weight: 400;
  }

}

@media screen and (max-width: 320px) {
  .nav {
    display: none;
  }

  .nav_phoneWidth_opened {
    display: none;
    background: rgba(51, 51, 51, 0.8);
  }

  .nav_phoneWidth_opened_bg {}

  .nav_icons {
    justify-content: start;
    padding-top: 15px;
  }


  .nav_phoneWidth_opened ul:nth-child(1) {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  .menu_phoneWidth_button {
    z-index: 5;
  }



}

.menu {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.menu_search {
  width: 370px;
  position: relative;
  border: 1px solid rgba(238, 238, 238, 1);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.menu_search:hover {
  border: 1px solid rgba(240, 127, 174, 0.5);
}

.menu_search_el {

  padding: 15px 45px 15px 15px;
  width: 100%;
}

.menu_search label {
  position: absolute;
  right: 15px;
  height: 20px;
}

.menu_search svg:hover path {
  fill: rgba(240, 127, 174, 1);
}

.menu_contacts_container {
  display: flex;
  align-items: center;
  gap: 18px;

}

.menu_contacts_container_el_phone {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: rgba(51, 51, 51, 1);
  gap: 10px;
}

.menu_contacts_container_el_phone:hover p {
  color: rgba(240, 127, 174, 1);
}

.menu_contacts_container_el_mail {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  gap: 10px;
}

.menu_contacts_container_el_mail:hover p {
  color: rgba(240, 127, 174, 1);
}

.menu_contacts_info {
  font-size: 15px;
  font-weight: 400;
  color: rgba(112, 112, 112, 1);
}

.menu_user_data {
  display: flex;
  gap: 30px;
  align-items: center;
}

.menu_user_data_search_adaptive {
  display: none;
}




.menu_user_data svg:hover path {
  fill: rgba(240, 127, 174, 1);
}

.menu_user_data-basket {
  position: relative;
}

.menu_user_data-basket .basket_count {
  height: 20px;
  width: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(240, 127, 174, 1);
  color: white;
  position: absolute;
  top: -5px;
  right: -10px;
}

.menu_user_data-basket.active .basket_count {
  display: flex;
}

.menu_phoneWidth {
  display: none;

}

.contacts_phoneWidth {
  display: none;
}

@media screen and (max-width: 1400px) {
  .menu_search {
    display: none;
  }

  .menu_user_data_search_adaptive {
    display: initial;
  }
}

@media screen and (min-width: 1401px) {


  .menu_user_data_search_adaptive {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1250px) {
  .menu {
    flex-wrap: wrap;
    row-gap: 15px;
    justify-content: space-around;

  }

  .menu_user_data_search_adaptive {
    display: none;
  }

  .menu_search {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    width: 250px;
  }

  .menu_contacts_container_el_phone {
    gap: 10px;
  }

  .menu_contacts_container_el_mail {
    gap: 10px;
  }

  .menu_contacts_container_el_phone svg {
    width: 15px;
    height: 15px;
  }

  .menu_contacts_container_el_phone p {
    font-size: 16px;
  }

  .menu_contacts_container_el_mail svg {
    width: 15px;
    height: 15px;
  }

  .menu_contacts_container_el_mail p {
    font-size: 16px;
  }

  .menu_contacts_info {
    font-size: 15px;
  }

  .menu_user_data {
    gap: 15px;
  }

  .menu_user_data svg {
    height: 30px;
    width: 30px;
  }
}

@media screen and (max-width: 320px) {

  .menu_phoneWidth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 20px;
  }

  .menu_phoneWidth:after {

    content: '';
    width: 100%;
    height: 1px;
    background: rgba(238, 238, 238, 1);
    position: absolute;
    bottom: 0;

  }

  .menu {
    display: none;
  }

  .menu_contacts_info {
    font-size: 14px;
  }

  .menu_contacts_container_el_phone {
    font-size: 16px;
  }

  .contacts_phoneWidth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
  }

  .basket_count {
    font-size: 10px;
  }

  .menu_user_data-basket .basket_count {
    height: 15px;
    width: 15px;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(240, 127, 174, 1);
    color: white;
    position: absolute;
    top: -3px;
    right: -8px;
  }

}

.sections {
  margin-bottom: 52px;
}

.sections ul {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 25px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 10px;
  color: rgba(51, 51, 51, 1);
}

.sections a {
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-weight: 700;
}

.sections a:hover {
  color: rgba(240, 127, 174, 1);
}

.sections_phoneWidth {
  display: none;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 15px 66px;
  width: 100%;
  border-radius: 10px;
  color: rgba(51, 51, 51, 1);
}

@media screen and (min-width: 769px) and (max-width: 1250px) {
  .sections ul {
    flex-wrap: wrap;
    row-gap: 15px;
    justify-content: space-around;
  }
}

@media screen and (max-width: 768px) {
  .sections ul {
    padding: 15px 22px;
  }

  .sections li {
    width: min-content;
    text-align: center;
  }

  .sections a {
    font-size: 16px;
    text-align: center;

  }


}

@media screen and (max-width: 320px) {
  .sections {
    display: none;
  }

  .sections_phoneWidth {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .sections_phoneWidth a {
    color: black;
  }

}

/* ________________________________________________________Info blocks______________________________________________ */

.info_blocks {
  margin-bottom: 82px;
}

.info_blocks_container {
  display: grid;
  gap: 30px;
  width: 100%;

  grid-template-areas: "a a b"
    "a a c";

  margin-top: 50px;

}



.block_a {
  background: linear-gradient(99.15deg, #50A6E3 0%, #A7DAFF 101.08%);
  grid-area: a;
}

.block_b {
  background: linear-gradient(113.62deg, #2AB86B 0%, #5DE39A 97.37%),
    linear-gradient(0deg, rgba(0, 141, 65, 0.2), rgba(0, 141, 65, 0.2));

  grid-area: b;
}

.block_c {
  background: linear-gradient(112.82deg, #F68AB1 0%, #FEB5CF 100%);

  grid-area: c;
}

/* .info_blocks_container:has(.block_c:hover) {
  grid-template-areas: "a c c"
    "b c c";
}

.info_blocks_container:has(.block_b:hover) {
  grid-template-areas: "a b b"
    "c b b";
} */


/* _________________________________________________________Styles info blocks_______________________________________________________ */

.info_blocks_block {
  display: flex;
  position: relative;
  /* align-items: center; */
}

.info_blocks_container_el {
  border-radius: 10px;
}

.info_blocks_block_text {
  z-index: 1;
}

.info_blocks_block_img {
  z-index: 0;
}




.block_a .info_blocks_block_text {
  color: white;
  padding-top: 135px;
  padding-left: 69px;
  padding-bottom: 135px;
}

.block_a .info_blocks_block_text h4 {
  font-size: 50px;
  font-weight: 700;
}

.block_a .info_blocks_block_text p {
  font-size: 18px;
  padding-top: 25px;
  padding-bottom: 20px;
  width: 370px;
}

.block_a .info_blocks_block_text button {
  font-size: 16px;
  color: black;
  padding: 15px 30px;
  background: white;
  font-weight: 700;
}

.block_a .info_blocks_block_img {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  width: 424px;
}

.block_a .info_blocks_block_img img {
  /* position: absolute; */
  /* right: 0; */
  height: 100%;
  width: 100%;
  transform: translateY(-2%);
}





.block_b .info_blocks_block_text {
  color: white;
  padding-top: 43px;
  padding-left: 28px;
  padding-bottom: 34px;
}

.block_b .info_blocks_block_text h4 {
  font-size: 22px;
  font-weight: 700;
  width: 208px;
}

.block_b .info_blocks_block_text p {
  font-size: 16px;
  padding-top: 25px;
  padding-bottom: 20px;
  width: 227px;
}

.block_b .info_blocks_block_text button {
  font-size: 16px;
  color: black;
  padding: 15px 30px;
  background: white;
  font-weight: 700;
  display: none;
}

.block_b .info_blocks_block_img {
  /* position: relative; */
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  width: 185px;
}

.block_b .info_blocks_block_img img {
  /* position: absolute; */
  /* right: 0; */
  height: 100%;
  width: 100%;
  transform: translateY(-2%);
}

.block_b .info_blocks_block a {
  font-size: 16px;
  color: white;
  text-decoration: underline;
}




.block_c .info_blocks_block_text {
  color: white;
  padding-top: 43px;
  padding-left: 28px;
  padding-bottom: 34px;
}

.block_c .info_blocks_block_text h4 {
  font-size: 22px;
  font-weight: 700;
}

.block_c .info_blocks_block_text p {
  font-size: 16px;
  padding-top: 25px;
  padding-bottom: 20px;
  width: 227px;
}

.block_c .info_blocks_block_text button {
  font-size: 16px;
  color: black;
  padding: 15px 30px;
  background: white;
  font-weight: 700;
  display: none;
}

.block_c .info_blocks_block_img {
  /* position: relative; */
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  width: 185px;
}

.block_c .info_blocks_block_img img {
  /* position: absolute; */
  /* right: 0; */
  height: 100%;
  width: 100%;
  transform: translateY(-2%);
}

.block_c .info_blocks_block a {
  font-size: 16px;
  color: white;
  text-decoration: underline;
}

@media screen and (max-width: 1200px) {
  .info_blocks_container {
    grid-template-areas: "a a"
      "b c";
  }
}

@media screen and (max-width: 1200px) {
  .info_blocks_container {
    grid-template-areas: "a a"
      "b c";
  }
}

@media screen and (max-width: 1200px) {
  .info_blocks_container {
    grid-template-areas: "a a"
      "b c";
  }
}

@media screen and (max-width: 320px) {
  .info_blocks_container {
    display: none
  }
}

.slider {
  /* display: none; */
}


.slider_card {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 30px 45px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.slider_card h4 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.slider_card img {
  margin-top: 15px;
  margin-bottom: 15px;
}

.slider_card button {
  font-size: 16px;
  color: black;
  padding: 15px 30px;
  background: white;
  font-weight: 700;
  border-radius: 5px;
}




.swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
  margin-top: 15px;
}

.swiper-slide {

  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 100%;
  padding: 30px 45px;
  min-width: 0;
}

.swiper-slide_a {
  background: linear-gradient(99.15deg, #50A6E3 0%, #A7DAFF 101.08%);
}

.swiper-slide_b {
  background: linear-gradient(113.62deg, #2AB86B 0%, #5DE39A 97.37%),
    linear-gradient(0deg, rgba(0, 141, 65, 0.2), rgba(0, 141, 65, 0.2));
}

.swiper-slide_c {
  background: linear-gradient(112.82deg, #F68AB1 0%, #FEB5CF 100%);
}

.swiper-slide h4 {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
}

.swiper-slide img {
  width: 191px;
  height: 226px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.swiper-slide button {
  font-size: 14px;
  color: black;
  padding: 15px 30px;
  background: white;
  font-weight: 700;
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  display: inline-block;
  background: rgba(223, 223, 223, 1);
  margin: 0 5px;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background: rgba(240, 127, 174, 1);
}

@media screen and (max-width: 320px) {
  .swiper-container {
    display: block;
  }
}